
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
</head>
<style>
div {
  position: fixed;
  top: 30%;
  left: 12%;
}
</style>
<body style="background-color:#DAFFF9;">
    <div>
    <hr>
    <h1> Error al introducir los parámetros </h1>
    <h3> Puede que los canales requeridos no estén dentro de los disponibles o sean demasiados... </h3>
    <h3> Consulte la doumentación para solucionar el problema</h3>
    <hr>
    <button class="button button1" style="border-radius: 12px; background-color:#F9DBE5; border: 1px solid black;"> 
        <a id="link" href='/Seleccion' style="padding-left: 5px;padding-right: 5px;"> Atrás </a>
    </button>  
    <img src= "{{url_for('static', filename='lupa.gif')}}" alt="logo"
    style="position:fixed; right:550px; bottom:30px; width:275px; height:275px; border:none;" />
    </div>
</body>
</html>